html,
body,
#root,
#root>div {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
}

body{
  overflow-y: hidden;
}

:root{
  --primary: #c0b3f3;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover{
  color: var(--primary);
}

button{
  color: black;
}


button:hover{
  color: var(--primary);
}
