* {
  box-sizing: border-box;
}

html, body, #root, #root>div {
    height: 100%;
    margin: 0;
}

@keyframes changeGradient {
  0%{
    background-position:left bottom;
  }
  50%{
    background-position:right bottom;
  }
  100%{
    background-position:left bottom;
  }
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: linear-gradient(to right, rgb(232, 93, 93) 10%, rgb(91, 173, 231) 90%);
  background-position:left top;
}


.container {
  /* background-color: rgb(232, 93, 93); */
  width: inherit;
  height: inherit;
}
.body:hover{
  background-position:right bottom; 
}

.toolbarcontainer{
  display: block;
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0;
}

.toolbar {
  width: 100%;
  justify-content: space-around;
  background-color: transparent;
  color:rgb(26, 40, 65);
}

.restrictcontainer{
  position: relative;
  top: 80px;
  overflow: scroll;
  height: 90%;
}

.appcontainer{
  /* flex-grow: 11; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home_container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container_left{
  flex:50%;
}

.container_right{
  flex:50%;
  justify-content: center;
  align-items: center;
}

.name{
  font-family: 'Courier New', Courier, monospace;
}


.navbar {
  text-decoration: none;
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-weight: bolder;
  padding: 10%;
}
.navbar:hover {
  text-decoration: none;
  color: rgb(26, 40, 65);
}
.navbar:active {
  text-decoration: none;
  color: rgb(26, 40, 65);
}
