* {
  box-sizing: border-box;
}
html{
  height: 100%;
}
#root{
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  height: 100%;
}
.container {
  color: white;
}

.toolbar {
  justify-content: space-around;
  background-color: black;
}

.navbar {
  text-decoration: none;
  color: white;
}
.navbar:hover {
  text-decoration: none;
  color: yellow;
}


